@model PuntoEncuento.Usuario

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm("create", "usuarios", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Usuario</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdRol, "IdRol", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IdRol", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdRol, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImagenUsuario, "IMAGEN:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.ImagenUsuario, new { htmlAttributes = new { @class = "form-control" } })*@
            <input type="file" name="file" />
            @Html.ValidationMessageFor(model => model.ImagenUsuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdDomicilio, "DIRECCIÓN:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.DropDownList("IdDomicio", null, htmlAttributes: new { @class = "form-control" })*@
            @Html.TextBoxFor(model => model.Domicilio.Calle, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Domicilio.Calle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdDomicilio, "ALTURA:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.DropDownList("IdDomicio", null, htmlAttributes: new { @class = "form-control" })*@
            @Html.TextBoxFor(model => model.Domicilio.Altura, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Domicilio.Altura, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdDomicilio, "CODIGO POSTAL:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.DropDownList("IdDomicio", null, htmlAttributes: new { @class = "form-control" })*@
            @Html.TextBoxFor(model => model.Domicilio.CodigoPostal, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Domicilio.CodigoPostal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdDomicilio, "PROVINCIA:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.IdProvincia, new SelectList(ViewBag.Provincia, "IdProvincia", "Nombre"), null, htmlAttributes: new { @class = "form-control" })
            @*@Html.TextBoxFor(model => model.Domicilio.CodigoPostal, htmlAttributes: new { @class = "form-control" })*@
            @Html.ValidationMessageFor(model => model.IdDomicilio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdDomicilio, "PARTIDO:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.IdPartido, new SelectList(ViewBag.Partido, "IdPartido", "Nombre"), null, htmlAttributes: new { @class = "form-control" })
            @*@Html.TextBoxFor(model => model.Domicilio.CodigoPostal, htmlAttributes: new { @class = "form-control" })*@
            @Html.ValidationMessageFor(model => model.IdDomicilio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdDomicilio, "LOCALIDAD:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.IdLocalidad, new SelectList(ViewBag.Localidad, "IdLocalidad", "Nombre"), null, htmlAttributes: new { @class = "form-control" })
            @*@Html.TextBoxFor(model => model.Domicilio.CodigoPostal, htmlAttributes: new { @class = "form-control" })*@
            @Html.ValidationMessageFor(model => model.IdDomicilio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CorreoElectronico, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
