@model PuntoEncuento.Usuario

@{
    //ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Edit</h2>*@
@Scripts.Render("~/Scripts/domicilio.js")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Mi Perfil</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdUsuario)

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(model => model.Nombre)

            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "mi-form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "mi-form-control" } })
            @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.IdRol, new { htmlAttributes = new { @class = "form-control" } })

    <div class="form-group">
        @Html.LabelFor(model => model.ImagenUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <image width="240px" height="240px" src="data:image/png;base64,@Convert.ToBase64String(Model.ImagenUsuario,0,Model.ImagenUsuario.Length)" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Domicilio.Calle, htmlAttributes: new { @class = "mi-form-control", @placeholder = "Ingrese su calle" })
            @Html.ValidationMessageFor(model => model.Domicilio.Calle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Domicilio.Altura, htmlAttributes: new { @class = "mi-form-control", @placeholder = "Ingrese su altura" })
            @Html.ValidationMessageFor(model => model.Domicilio.Altura, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Domicilio.CodigoPostal, htmlAttributes: new { @class = "mi-form-control", @placeholder = "Ingrese su codigo postal" })
            @Html.ValidationMessageFor(model => model.Domicilio.CodigoPostal, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.IdDomicilio, "PROVINCIA:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdProvincia, new SelectList(ViewBag.Provincia, "IdProvincia", "Nombre", null), null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdDomicilio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdDomicilio, "PARTIDO:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdPartido, new SelectList(new Dictionary<int, object>()), null, htmlAttributes: new { @class = "form-control", @placeholder = "Ingrese su partido" })
                @Html.ValidationMessageFor(model => model.IdDomicilio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdDomicilio, "LOCALIDAD:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdLocalidad, new SelectList(new Dictionary<int, object>()), null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdDomicilio, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @Html.HiddenFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
